/* ПОРТФОЛИО */

/* Фильтры */

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary-bg-color);

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наши работы */

.works-list {
  margin-top: -30px;
  margin-left: -30px;

  display: flex;
  flex-wrap: wrap;
}

.works-item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc(100% / 3 - 30px);
}

.works-link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.works-thumb {
  position: relative;

  height: 294px;
  overflow: hidden;
}

.works-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-overlay {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  background-color: var(--works-overlay-color);

  transition: transform var(--duration) var(--timing-function);
}

.works-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-right: 1px solid var(--border-color-works);
  border-left: 1px solid var(--border-color-works);
  border-bottom: 1px solid var(--border-color-works);
}

.works-item-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.works-link:hover,
.works-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-link:hover .works-overlay,
.works-link:focus .works-overlay {
  transform: translateY(-100%);
}
