:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --main-bg-color: #ffffff;
  --address-color-link: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --activities-overlay-color: rgb(18%, 19%, 23%, 0.8);
  --works-overlay-color: rgba(33, 150, 243, 0.9);
  --accent-color: #2196f3;
  --border-color: #ececec;
  --border-color-works: #eeeeee;
  --team-svg-color: #afb1b8;
  --team-svg-white-color: #ffffff;
  --footer-social-trnsp-white: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --form-color: rgb(13%, 13%, 13%, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --form-btn-bg-color: #188ce8;
  --border-subscribe: rgba(255, 255, 255, 0.3);

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* Page-header */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid var(--border-color);
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio {
  color: var(--black-text-color);
}

.page-header__logo {
  margin-right: 93px;

  padding-top: 24px;
  padding-bottom: 24px;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color var(--duration) var(--timing-function);
}

.contacts {
  margin-left: auto;
  display: flex;
}

.contacts__item:last-child {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;

  transition: color var(--duration) var(--timing-function);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu__link:hover,
.menu__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
}

.menu__link--current::after {
  position: absolute;

  display: block;
  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

/* Студия */

/* Hero */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: var(--hero-bg-color);

  background-image: linear-gradient(
      to right,
      var(--hero-overlay-color),
      var(--hero-overlay-color)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.order-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-color);
}

/* Features */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  margin-top: -30px;
  margin-left: -30px;

  display: flex;
  flex-wrap: wrap;
}

.features__item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc(100% / 4 - 30px);
}

.features__cover {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
