@import './base/modern-normalize';
@import './base/defualts-styles';
@import './base/variables';

@import './components/common/common';
@import './components/common/section';
@import './components/common/containter';
@import './components/common/header';
@import './components/common/logo';
@import './components/common/footer';
@import './components/common/title';

@import './components/studio/hero';
@import './components/studio/features-list';
@import './components/studio/activities-list';
@import './components/studio/team-list';
@import './components/studio/team-social';
@import './components/studio/clients';
@import './components/studio/order-modal';

@import './components/portfolio/portfolio-filters';
@import './components/portfolio/portfolio-works';
