body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
